body {
    background-color: #62f07e;
}
header {
    padding: 20px;
    text-align: center;
    color: #001500;
}
section {
    width: 500px;
    margin: 0 auto;
    background-color: #0298208f;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 128, 0, 0.775);
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#btn {
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 500;
    border: none;
    color: #001500;
    box-shadow: 2px 2px 5px rgba(0, 35, 0, 0.902);
}
#btn:hover {
    background-color: #001500;
    color: #beffcb;
}
footer {
    padding: 10px;
    text-align: center;
    color: #484848;
    font-size: 18px;
}